/* ----- Global Styles ----- */

* {
    box-sizing: border-box;
  }

  /* ----- Base Element Styles ----- */

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: #8B8B8B;
}

h1,
h3,
ul {
  font-family: 'Monoton', cursive;
  font-weight: normal;
}

p {
  font-size: .8em;
}

a {
  text-decoration: none;
  color: #8B8B8B;
}

img {
  max-width: 100%;
}

/* ----- Navigation ----- */

.name {
  font-size: 1.5em;
  margin: 0;
}

.main-nav a {
  font-size: .9em;
  text-transform: uppercase;
  display: block;
}

.name,
.main-nav a {
  padding: 5px 10px;
}

.main-nav li {
  background: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-name,
.foot-2top {
  font-size: .8em;
  margin: 5px 0;
}

.footer-nav {
  display: none;
}

.main-nav a:visited,
.footer-nav a:visited,
.foot-2top a:visited {
  color: inherit;
}

.main-nav a:hover,
.footer-nav a:hover,
.foot-2top a:hover {
  color: chocolate;
}


/* ----- Containers ----- */

.wrapper {
  background: #fafafa;
}

.container,
hr {
  width: 95%;
  margin: 0 auto;
}

.container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-header,
.main-footer {
  padding: 1em 0;
}

#portfolio {
  background: #fff;
}

/* ----- Page Elements ----- */

#profile-image {
  max-width: 70%;
  margin: 10px 0;
}

.footer-name {
  float: left;
}

.foot-2top {
  float: right;
}

/* ----- Float Clearfix ----- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ----- Media Queries ----- */

@media (min-width: 768px) {
  
  .container,
  hr {
    width: 90%;
    margin: 0 auto;
  }
  
  .foot-2top {
    display: none;
  }

  .footer-nav {
    display: block;
    float: right;
  }

  .footer-nav a {
    font-size: .8em;
    padding: 5px 10px;
    text-transform: uppercase;
  }

  .name,
  .main-nav li,
  .footer-name,
  .footer-nav li {
    display: inline-block;
    background: none;
  }

  #profile-text {
    font-size: 1.25em;
    text-align: left;
  }

  #profile-image {
    float: right;
    width: 35%;
    margin: 6px;
  }

  .card {
    width: 50%;
    float: left;
    padding: 10px;
  }

  p {
    font-size: 1em;
  }
}

@media (min-width: 1024px) {

  .container,
  hr {
    width: 85%;
    max-width: 1150px;
    margin: 0 auto;
  }

  .name,
  .main-nav {
    display: inline-block;
  }

  .name {
    float: left;
  }
  .main-nav {
    float: right;
  }

  .card {
    width: 33.33%;
    padding: 10px;
  }

  #skills,
  #contact {
    width: 50%;
    padding: 10px;
    font-size: 1.25em;
  }
}